// Overrides
.portfolio__container {
  width: 450px;
}

// Game Board
.gameBoard {
  border: 2px solid #ccc;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 3px;
}

.gameBoard__row {
  display: block;
  height: 4px;
  line-height: 4px;
  font-size: 0;
}

.gameBoard__cell {
  display: inline-block;
  height: 4px;
  width: 4px;
}

.gameBoard__cell--alive {
  background: pink;
}